<form method="POST" action="/events" enctype="multipart/form-data">
    <label>
        Name of the event:
        <input type="text" name="username">
    </label>
    <br>
    <label>
        Location:
        <input type="text" name="location">
    </label>
    </br>
    <label>
        Date :
        <input type='date' name="date">
    </label>
    </br>
    <label>
        Description :
        <input type='text' name="description">
    </label>
    </br>
    <label>
        Description :
        <input type='text' name="description">
    </label>
    <!-- <label> Upload a picture
        <input type="file" name="photo">
    </label> -->
    <label> Choose the mood of the event :

        <input type="checkbox" name="Rave" value="Rave"> Rave

        <input type="checkbox" name="Smooth" value="Smooth"> Smooth

        <input type="checkbox" name="Mosh" value="Mosh"> Mosh
        <br>
        <input type="checkbox" name="Nod" value="Nod"> Nod
        <br>
        <input type="checkbox" name="Groove" value="Groove"> Groove
    </label>
    <button>Create</button>
</form>