<div class="container">
<form method="POST" action="/events">
    <label>
        Name of the event:
        <input type="text" name="name">
    </label>
    <br>
    <label>Address</label>
  <input id="user_input_autocomplete_address" placeholder="Votre adresse...">
    </br>
    <label>
        Date :
    </label>

    <input type="date" name="date">
    </br>
    <label>
        Description :
        <input type="text" name="description">
    </label>
    </br>
    <!-- <label> Upload a picture
        <input type="file" name="photo">
    </label>-->
    <label> Choose the mood of the event :

        <input type="checkbox" name="genre" value="Rave"> Rave

        <input type="checkbox" name="genre" value="Smooth"> Smooth

        <input type="checkbox" name="genre" value="Mosh"> Mosh
        <br>
        <input type="checkbox" name="genre" value="Nod"> Nod
        <br>
        <input type="checkbox" name="genre" value="Groove"> Groove
    </label> 
    <button type="submit" class="waves-effect waves-light btn">Create</button>
</form>

<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyC9qgbLJovicwKDkq7F5YzuoPYUDYNBVd8">
</script>

<!-- Custom JS code to bind to Autocomplete API -->
<!-- find it here: https://github.com/lewagon/google-place-autocomplete/blob/gh-pages/autocomplete.js -->
<!-- We'll detail this file in the article -->
<script type="text/javascript" src="javascript/map.js"></script>

</div>