<div class="container">
<form method="POST" action="/events">
    <label>
        Name of the event:
        <input type="text" name="name">
    </label>
    <br>
    <label>Address</label>
    <input id="searchTextField" name="searchTextField" class="form-control" placeholder="Start typing your address...">
    </br>
    <label>lat</label>
  <input id="venue_lat" name="venue_lat" hidden>
  <label>long</label>
  <input id="venue_long" name="venue_long" hidden>
  <label>adress</label>
  <input id="adress" name="adress" hidden>
 
    <label>
        Date :
    </label>

    <input type="date" name="date">
    </br>
    <label>
        Description :
        <input type="text" name="description">
    </label>
    </br>
    <!-- <label> Upload a picture
        <input type="file" name="photo">
    </label>-->
    <label> Choose the mood of the event :

        <input type="checkbox" name="genre" value="Rave"> Rave

        <input type="checkbox" name="genre" value="Smooth"> Smooth

        <input type="checkbox" name="genre" value="Mosh"> Mosh
        <br>
        <input type="checkbox" name="genre" value="Nod"> Nod
        <br>
        <input type="checkbox" name="genre" value="Groove"> Groove
    </label> 
    <button type="submit" class="waves-effect waves-light btn">Create</button>
</form>


</div>

<script type="text/javascript" src="/javascript/maps.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9qgbLJovicwKDkq7F5YzuoPYUDYNBVd8&libraries=places&callback=initialize" async defer>

