<h1> Edit event </h1>
<form method="POST" action="/events">
    <label>
        Name of the event:
        <input type="text" name="name"  >
    </label>
    <br>
    <label>Address</label>
    <input id="searchTextField" name="searchTextField" class="form-control" placeholder="Start typing your address...">
    </br>
    <label>lat</label>
  <input id="venue_lat" name="venue_lat" hidden>
  <label>long</label>
  <input id="venue_long" name="venue_long" hidden>
  <label>adress</label>
  <input id="adress" name="adress" hidden>
    </br>
    <label>
        Date :
    </label>

    <input type="date" name="date">
    </br>
    <label>
        Description :
        <input type="text" name="description">
    </label>
    </br>
    <!-- <label> Upload a picture
        <input type="file" name="photo">
    </label>-->
    <label> Choose the mood of the event :
    <br>
    <br>
    <span>
      <input class="with-gap" name="group1" type="radio" id="test1" />
      <label for="test1">Rave</label>
    </span>
    <span>
      <input class="with-gap" name="group1" type="radio" id="test2" />
      <label for="test2">Mosh</label>
    </span>
    <span>
      <input class="with-gap" name="group1" type="radio" id="test3"  />
      <label for="test3">Groove</label>
    </span>
    <span>
      <input class="with-gap" name="group1" type="radio" id="test4"  />
      <label for="test4">Smooth</label>
    </span>
    <span>
      <input class="with-gap" name="group1" type="radio" id="test5" />
      <label for="test5">Nod</label>
    </span>
    </label>
    <br>
    <button type="/events/<%= event._id %>/edit">Confirm edit</button>
</form>
<br>
<form method= "post" action="/events/<%= event._id %>/delete">
<button name="delete">Delete event</button> 
</form>
<script type="text/javascript" src="/javascript/maps.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9qgbLJovicwKDkq7F5YzuoPYUDYNBVd8&libraries=places&callback=initialize" async defer>
