<nav>
<div class="nav-wrapper">
  <a href="/map" class="brand-logo">Logo</a>
  <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
  <ul class="right hide-on-med-and-down">
  <li> <a href = 'events/new'>create</a> </li>
  <li> <a href = 'events/'>view all</a> </li>
  
  <li><a href = 'logout'>logout</a>
</li>
  </ul>
  <ul class="side-nav" id="mobile-demo">
  <li><a href = 'logout'>logout</a>
  </li>
  <li> <a href = 'events/new'>create</a> </li>
  </ul>
</div>
</nav>
<br>
<div id="map" class="center-align">
</div>

<script type="text/javascript" src="/javascript/maps.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9qgbLJovicwKDkq7F5YzuoPYUDYNBVd8&libraries=places&callback=initMap" async defer>

</script>