<div class="container form-user col s12 m4 l8 z-depth-3">

  <div class=" form-header red lighten-1 z-depth-1">
    <h3> Sign Up </h3>
  </div>

<form method="POST" action="/signup">
<label>
    Mail:
    </label>  
    <input type="text" name="mail">
<label>
    Username:
    </label>
    <input type="text" name="username">
  <br>
  <label>
    Password:
    </label>
    <input type="password" name="password">
  <button class="waves-effect waves-light btn">Signup</button>
</form>
</div>
