
    
    <div class="container">
    <h1>Welcome to BOBCAT</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse </p>
    
   
    <a href = 'signup'class="waves-effect waves-light btn">signup</a>
   
    <a href="login" class="waves-effect waves-light btn">login</a>
    <a href = 'logout' class="waves-effect waves-light btn">logout</a>
    <a href = 'events/new' class="waves-effect waves-light btn">create</a>
    <a href = 'map' class="waves-effect waves-light btn">map</a>

    </div>
