
    
    <div class="container center-align" id="index-body">
    <h1>Welcome to BOBCAT</h1>
    <p>Prowl your local area for the music events you want to attend</p>
    <blockquote class="blockquote">
  <p class="mb-0">Bobcats are elusive and nocturnal animal.</p>
  <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
</blockquote>
    <p>
    But it’s also, since few days, a nice and new crowdsource map of small event in weird place.
    Our goal is to share with our community, nice venues,  intimate ambience, and good music.
    
    As we are a small community and we want to keep our address secret, before going anywhere you need to sign up and join the pack</p>
    
   
    <a href ='signup'class="waves-effect waves-light btn">signup</a>
   
    <a href="login" class="waves-effect waves-light btn">login</a>


    </div>
