
    
    <div class=" container center-align" id="index-body">
    <h1>Welcome to BOBCAT</h1>
    <p>Prowl your local area for the music events you want to attend</p>
    <blockquote class="blockquote">
  <p class="mb-0">Bobcats are elusive and nocturnal animals.</p>
</blockquote>
    <p>
    Bobcat is a crowdsourced map for you to find underground events in all kinds of strange and wonderful places.
    We want to focus on community spirit rather than big names, ambiance over advertising and above all- good music.
    
    We're a small community and want to stay that way- so before going anywhere you'll need to sign up to join the pack</p>
   
    <a href ='signup'class="waves-effect waves-light btn">signup</a>
   
    <a href="login" class="waves-effect waves-light btn">login</a>


    </div>
