h1 {
  text-align: center;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
}

a {
  color: #00b7ff;
}

.container {
  padding: 0;
}

#map {
  width: 100%;
  height: 600px;
  background-color: #26a69a;
}

.blueColour {
  color: #0056b3;
}

.greenColour {
  color: #26a69a;
}

form {
  padding: 2%;
  margin-top: 0;
}
.form-user {
  margin-top: 10%;
}
.form-header {
  height: 40%;
  text-align: center;
  width: 100%;
  padding: 1%;
  color: white;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1%;
}

.search label {
  width: 30%;
}

#index-body {
  background-color: #3949ab;
  color: white;
  min-height: 50em;
}

.nav-wrapper a {
  text-decoration: none;
  color: white;
}
btn {
  text-decoration: none;
}

.brand-logo img {
  max-width: 25%;
  margin-left: 10%;
}

.collapsible-body {
  padding: 15, 28, 15, 28;
}

#myevs {
  margin-bottom: 28px;
}

#delete-all {
  margin-top: 20px;
}

#back {
  margin-bottom: 20px;
  margin-top: 20px;
}
